doctype html
html
  head
    meta(charset='utf-8')
    title AdminPanel
    style
      include css/all.css
    link(media='all', rel='stylesheet', type='text/css', href='css/all.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript').
      window.jQuery || document.write('<script type="text/javascript" src="js/jquery-1.7.2.min.js"><\\/script>');
    script(type='text/javascript', src='js/jquery.main.js')
    //if lt IE 9
      link(rel='stylesheet', type='text/css', href='css/ie.css')
  body
    #wrapper
      #content
        .c1
          .tabs
            #tab-1.tab
              article
                .text-section
                  h1 Dashboard
                  p The changes and errors that happened during the update:
                ul.states
                  if changes.changes.length!=0
                    li.succes Success : #{changes_number} change happened
                    li.succes #{changes_link}
                  else
                    li.succes No changes happened.
                  li 
                  if errors.errors.length!=0
                    li.error Error : #{errs_number} error happened
                    li.error #{err_link}
                  else
                    li.error No errors happened.
